.notes {
	font-size: 18px;
	height: 150px;
	text-align: center;
	resize: none;
	margin-top: 20px;
  width: 300px;
  color: purple;
  border: 2px solid purple;
  &:active, &:focus {
    outline-color: purple;
  }
}
.footerbuttons {
	display: flex;
	justify-content: space-between;
	width: 200px;
	margin-top: 15px;
}
button.shareMatch {
  background-color: transparent;
  position: relative;
  color: black;
  border-radius: unset;
  border-color: #d500f9;
  border-width: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  font-size: var(--step--2);
  margin-top: 3px;
  margin-left: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
  filter: drop-shadow(1px 1px 1px gray);
}
.shareMatch::before {
  background-color: #d500f9;
  content: "";
  display: block;
  height: 23px;
  position: absolute;
  right: 5px;
  top: 29px;
  transform: rotate(45deg);
  width: 2px;
  z-index: 100;   
}
.shareMatch:hover {
  color: #d500f9;
}
.shareMatch:active {
  transform: translate(2px, 2px);
  background-color: #1d1e22;
}